Project1/Project1/Project1.sln
Project1/Project1/.vs/Project1/v16/.suo
Project1/Project1/.vs/Project1/v16/Browse.VC.db
Project1/Project1/.vs/Project1/v16/ipch/AutoPCH/d0d7a2ab4b5f37e1/MAIN.ipch
Project1/Project1/.vs/Project1/v16/ipch/AutoPCH/f2b3599b9f00c9a5/MAIN.ipch
Project1/Project1/Debug/Project1.pdb
Project1/Project1/Project1/Project1.vcxproj
Project1/Project1/Project1/Project1.vcxproj.filters
Project1/Project1/Project1/Project1.vcxproj.user
Project1/Project1/Project1/Debug/main.obj
Project1/Project1/Project1/Debug/Project1.exe.recipe
Project1/Project1/Project1/Debug/Project1.ilk
Project1/Project1/Project1/Debug/Project1.log
Project1/Project1/Project1/Debug/vc142.idb
Project1/Project1/Project1/Debug/vc142.pdb
Project1/Project1/Project1/Debug/Project1.tlog/CL.command.1.tlog
Project1/Project1/Project1/Debug/Project1.tlog/CL.read.1.tlog
Project1/Project1/Project1/Debug/Project1.tlog/CL.write.1.tlog
Project1/Project1/Project1/Debug/Project1.tlog/link.command.1.tlog
Project1/Project1/Project1/Debug/Project1.tlog/link.read.1.tlog
Project1/Project1/Project1/Debug/Project1.tlog/link.write.1.tlog
Project1/Project1/Project1/Debug/Project1.tlog/Project1.lastbuildstate
DynamicAssignment/DynamicAssignment.sln
DynamicAssignment/.vs/DynamicAssignment/v16/.suo
DynamicAssignment/.vs/DynamicAssignment/v16/Browse.VC.db
DynamicAssignment/.vs/DynamicAssignment/v16/ipch/AutoPCH/3dfed2591d1a2dbb/MAIN.ipch
DynamicAssignment/Debug/DynamicAssignment.pdb
DynamicAssignment/DynamicAssignment/DynamicAssignment.vcxproj
DynamicAssignment/DynamicAssignment/DynamicAssignment.vcxproj.filters
DynamicAssignment/DynamicAssignment/DynamicAssignment.vcxproj.user
DynamicAssignment/DynamicAssignment/Debug/DynamicAssignment.exe.recipe
DynamicAssignment/DynamicAssignment/Debug/DynamicAssignment.ilk
DynamicAssignment/DynamicAssignment/Debug/DynamicAssignment.log
DynamicAssignment/DynamicAssignment/Debug/main.obj
DynamicAssignment/DynamicAssignment/Debug/vc142.idb
DynamicAssignment/DynamicAssignment/Debug/vc142.pdb
DynamicAssignment/DynamicAssignment/Debug/DynamicA.deb978d9.tlog/CL.command.1.tlog
DynamicAssignment/DynamicAssignment/Debug/DynamicA.deb978d9.tlog/CL.read.1.tlog
DynamicAssignment/DynamicAssignment/Debug/DynamicA.deb978d9.tlog/CL.write.1.tlog
DynamicAssignment/DynamicAssignment/Debug/DynamicA.deb978d9.tlog/DynamicAssignment.lastbuildstate
DynamicAssignment/DynamicAssignment/Debug/DynamicA.deb978d9.tlog/link.command.1.tlog
DynamicAssignment/DynamicAssignment/Debug/DynamicA.deb978d9.tlog/link.read.1.tlog
DynamicAssignment/DynamicAssignment/Debug/DynamicA.deb978d9.tlog/link.write.1.tlog
Project1/Project1/Debug/int_to_bitmap.py
DynamicAssignment/Debug/output.bmp
Mandelbrot_x86/.vs/Mandelbrot_x86/v16/.suo
Mandelbrot_x86/.vs/Mandelbrot_x86/v16/Browse.VC.db
Mandelbrot_x86/.vs/Mandelbrot_x86/v16/Browse.VC.db-shm
Mandelbrot_x86/.vs/Mandelbrot_x86/v16/Browse.VC.db-wal
Mandelbrot_x86/.vs/Mandelbrot_x86/v16/Browse.VC.opendb
Mandelbrot_x86/.vs/Mandelbrot_x86/v16/ipch/AutoPCH/12d9f7b1d99c9832/MAIN.ipch
Mandelbrot_x86/.vs/Mandelbrot_x86/v16/ipch/AutoPCH/349248becbb71834/MAIN.ipch
Mandelbrot_x86/Debug/dynamic.txt
Mandelbrot_x86/Debug/Mandelbrot_x86.exe
Mandelbrot_x86/Debug/Mandelbrot_x86.pdb
Mandelbrot_x86/Debug/run.bat
Mandelbrot_x86/Mandelbrot_x86/Mandelbrot_x86.vcxproj
Mandelbrot_x86/Mandelbrot_x86/Mandelbrot_x86.vcxproj.filters
Mandelbrot_x86/Mandelbrot_x86/Mandelbrot_x86.vcxproj.user
Mandelbrot_x86/Mandelbrot_x86/Debug/main.obj
Mandelbrot_x86/Mandelbrot_x86/Debug/Mandelbrot_x86.exe.recipe
Mandelbrot_x86/Mandelbrot_x86/Debug/Mandelbrot_x86.ilk
Mandelbrot_x86/Mandelbrot_x86/Debug/Mandelbrot_x86.log
Mandelbrot_x86/Mandelbrot_x86/Debug/vc142.idb
Mandelbrot_x86/Mandelbrot_x86/Debug/vc142.pdb
Mandelbrot_x86/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/CL.command.1.tlog
Mandelbrot_x86/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/CL.read.1.tlog
Mandelbrot_x86/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/CL.write.1.tlog
Mandelbrot_x86/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/link.command.1.tlog
Mandelbrot_x86/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/link.read.1.tlog
Mandelbrot_x86/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/link.write.1.tlog
Mandelbrot_x86/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/Mandelbrot_x86.lastbuildstate
Mandelbrot_x86/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/unsuccessfulbuild
Mandelbrot_x86/Mandelbrot_x86/Release/main.obj
Mandelbrot_x86/Mandelbrot_x86/Release/Mandelbrot_x86.exe.recipe
Mandelbrot_x86/Mandelbrot_x86/Release/Mandelbrot_x86.iobj
Mandelbrot_x86/Mandelbrot_x86/Release/Mandelbrot_x86.ipdb
Mandelbrot_x86/Mandelbrot_x86/Release/Mandelbrot_x86.log
Mandelbrot_x86/Mandelbrot_x86/Release/vc142.pdb
Mandelbrot_x86/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/CL.command.1.tlog
Mandelbrot_x86/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/CL.read.1.tlog
Mandelbrot_x86/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/CL.write.1.tlog
Mandelbrot_x86/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/link.command.1.tlog
Mandelbrot_x86/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/link.read.1.tlog
Mandelbrot_x86/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/link.write.1.tlog
Mandelbrot_x86/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/Mandelbrot_x86.lastbuildstate
Mandelbrot_x86/Release/Mandelbrot_x86.pdb
Mandelbrot_x86/Release/output.bmp
Mandelbrot/.vs/Mandelbrot/v16/.suo
Mandelbrot/.vs/Mandelbrot/v16/Browse.VC.db
Mandelbrot/.vs/Mandelbrot/v16/ipch/AutoPCH/530030a83dad0f04/MAIN.ipch
