ComputerAssignment_1/Mandelbrot_x86.sln
ComputerAssignment_1/.vs/Mandelbrot_x86/v16/.suo
ComputerAssignment_1/.vs/Mandelbrot_x86/v16/Browse.VC.db
ComputerAssignment_1/.vs/Mandelbrot_x86/v16/ipch/AutoPCH/12d9f7b1d99c9832/MAIN.ipch
ComputerAssignment_1/.vs/Mandelbrot_x86/v16/ipch/AutoPCH/349248becbb71834/MAIN.ipch
ComputerAssignment_1/Debug/Mandelbrot_x86.pdb
ComputerAssignment_1/Debug/run.bat
ComputerAssignment_1/Mandelbrot_x86/Mandelbrot_x86.vcxproj
ComputerAssignment_1/Mandelbrot_x86/Mandelbrot_x86.vcxproj.filters
ComputerAssignment_1/Mandelbrot_x86/Mandelbrot_x86.vcxproj.user
ComputerAssignment_1/Mandelbrot_x86/Debug/main.obj
ComputerAssignment_1/Mandelbrot_x86/Debug/Mandelbrot_x86.exe.recipe
ComputerAssignment_1/Mandelbrot_x86/Debug/Mandelbrot_x86.ilk
ComputerAssignment_1/Mandelbrot_x86/Debug/Mandelbrot_x86.log
ComputerAssignment_1/Mandelbrot_x86/Debug/vc142.idb
ComputerAssignment_1/Mandelbrot_x86/Debug/vc142.pdb
ComputerAssignment_1/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/CL.command.1.tlog
ComputerAssignment_1/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/CL.read.1.tlog
ComputerAssignment_1/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/CL.write.1.tlog
ComputerAssignment_1/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/link.command.1.tlog
ComputerAssignment_1/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/link.read.1.tlog
ComputerAssignment_1/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/link.write.1.tlog
ComputerAssignment_1/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/Mandelbrot_x86.lastbuildstate
ComputerAssignment_1/Mandelbrot_x86/Debug/Mandelbrot_x86.tlog/unsuccessfulbuild
ComputerAssignment_1/Mandelbrot_x86/Release/main.obj
ComputerAssignment_1/Mandelbrot_x86/Release/Mandelbrot_x86.exe.recipe
ComputerAssignment_1/Mandelbrot_x86/Release/Mandelbrot_x86.iobj
ComputerAssignment_1/Mandelbrot_x86/Release/Mandelbrot_x86.ipdb
ComputerAssignment_1/Mandelbrot_x86/Release/Mandelbrot_x86.log
ComputerAssignment_1/Mandelbrot_x86/Release/vc142.pdb
ComputerAssignment_1/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/CL.command.1.tlog
ComputerAssignment_1/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/CL.read.1.tlog
ComputerAssignment_1/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/CL.write.1.tlog
ComputerAssignment_1/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/link.command.1.tlog
ComputerAssignment_1/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/link.read.1.tlog
ComputerAssignment_1/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/link.write.1.tlog
ComputerAssignment_1/Mandelbrot_x86/Release/Mandelbrot_x86.tlog/Mandelbrot_x86.lastbuildstate
ComputerAssignment_1/Release/Mandelbrot_x86.pdb
