Project1/Project1/Project1.sln
Project1/Project1/.vs/Project1/v16/.suo
Project1/Project1/.vs/Project1/v16/Browse.VC.db
Project1/Project1/.vs/Project1/v16/ipch/AutoPCH/d0d7a2ab4b5f37e1/MAIN.ipch
Project1/Project1/.vs/Project1/v16/ipch/AutoPCH/f2b3599b9f00c9a5/MAIN.ipch
Project1/Project1/Debug/Project1.pdb
Project1/Project1/Project1/Project1.vcxproj
Project1/Project1/Project1/Project1.vcxproj.filters
Project1/Project1/Project1/Project1.vcxproj.user
Project1/Project1/Project1/Debug/main.obj
Project1/Project1/Project1/Debug/Project1.exe.recipe
Project1/Project1/Project1/Debug/Project1.ilk
Project1/Project1/Project1/Debug/Project1.log
Project1/Project1/Project1/Debug/vc142.idb
Project1/Project1/Project1/Debug/vc142.pdb
Project1/Project1/Project1/Debug/Project1.tlog/CL.command.1.tlog
Project1/Project1/Project1/Debug/Project1.tlog/CL.read.1.tlog
Project1/Project1/Project1/Debug/Project1.tlog/CL.write.1.tlog
Project1/Project1/Project1/Debug/Project1.tlog/link.command.1.tlog
Project1/Project1/Project1/Debug/Project1.tlog/link.read.1.tlog
Project1/Project1/Project1/Debug/Project1.tlog/link.write.1.tlog
Project1/Project1/Project1/Debug/Project1.tlog/Project1.lastbuildstate
